.main{
  margin-top: 5em;
  text-align: center;
}

.main:nth-child(1){
  font-size: 3rem;
}

$btn-color:red;

.mybtn{
  color: $btn-color;
  padding: 2em 5em;
  background-color: #5d5df1;

  &:hover{
    background-color: lighten(#5d5df1,1.5);
  }
}